$color-sass: #bf4080;
$color-sass-80: #bf408080;

.bg-sass {
    background-color: $color-sass;
    transition: background-color 0.5s ease-in-out;

    &:hover {
        background-color: $color-sass-80;
    }
}
